{% extends 'layout.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
  <section class="header">
    <h1>Python Developer</h1>
    <p>A short one-liner about your love of coding.</p>
    <img src="https://www.ericsryan.com/static/images/IMG_0543.jpg" alt="Headshot of myself">
  </section>
  <section id="about">
    <h2>About Me</h2>
    <p>For the past 20 years I have served as a caregiver and care home administrator. I found an interest in web development and computer programming because of a need in my work.</p>
  <p>As a caregiver and administrator it is necessary to fill out a considerable amount of paperwork and the information needed to complete the work is usually found in several different places. When a piece of information changes it is often necessary to update the change in several places as well. I thought, "Wouldn't it be great if I could enter a piece of information into a database and that information could automatically be retrieved in order to fill out these forms I fill out repeatedly?" My hope was to find an application that allowed me to do this, but the specific requirements ruled out any solution I was able to find. I felt the need to develop my own application and began to study computer programming.</p>
  <p>After much research I felt that the most flexible and accessable way to develop the application would be as a web application. A priority for the application is to make it easy to use for some that may not be as familiar with technology.</p>
  <p>My goal is to complete the application that I set out to create, but I also discovered that I really enjoy programming and I am ready to make a career change and pursue programming full time.</p>
  <p>I have had the opportunity to take over the hosting and maintainance of about 30 websites. I have built websites for two of these clients, the projects can be found in the portfolio section of this site.</p>
    </p>
    <div id="triangle1"></div>
    <div id="triangle2"></div>
  </section>
{% endblock %}