{% extends 'layout.html' %}

{% block content %}
    <section class="header">
        <h1>Python Developer</h1>
        <p>A short one-liner about your love of coding.</p>
        <img src="https://www.ericsryan.com/static/images/IMG_0543.jpg" alt="Headshot of myself">
    </section>
    <section id="projects">
        <div id="triangle3"></div>
        <i class="fas fa-file-code"></i>
        <h2>Projects</h2>
        <div id="project-list">
            {% for project in projects %}
                <div id="project{{ project.id }}" class="a-project">
                    <h3><a href="{{ url_for('view_project', id=project.id) }}">{{ project.title }}</a></h3>
                    <a href="{{ project.repo_link }}" class="github-btn" target="_blank">
                        <i class="fab fa-github"></i>
                        View on GitHub
                    </a>
                    <p>
                        {{ project.description }}
                    </p>
                    <p>
                        Skills: {{ project.skills }}
                    </p>
                </div>  
            {% endfor %}
        </div>
        <div id="triangle4"></div>
    </section>
    <section id="skills">
    <i class="fas fa-laptop-code"></i>
    <h2>Skills</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>SQLAlchemy</li>
        <li>GitHub</li>
        <li>Visual Studio Code</li>
    </ul>
    </section>
    <section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <p>
            Feel free to send an email or connect with me on social media.
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            eric@ericsryan.com
        </p>
    </section>
{% endblock %}